<h1>Carrito de compras</h1>
<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Talle</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of lista_compras$ | async">
                <td>{{producto.nombre}}</td>
                <td><img [src]="producto.imagen" [alt]="producto.nombre"></td> 
                <td>{{producto.talle}}</td>
                <td>{{producto.precio | currency}}</td>
                <td>{{producto.cantidad}}</td>
            </tr>
        </tbody>
    </table>
    
</div>
