<h1>Sucursales</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum fugiat error ullam quos iure molestias sint eius deserunt optio! Ab ratione, placeat animi voluptatibus provident sapiente natus incidunt. Quas, ut.
Optio velit repudiandae repellat deserunt minima corporis magni voluptatibus iste, praesentium doloremque earum consequuntur assumenda maxime! Molestiae sunt ratione officiis facilis consequatur, corporis praesentium? Voluptatum, iusto asperiores! Assumenda, dolorem pariatur.
Ex minima suscipit facere dolore repellendus sint soluta veniam earum natus voluptas accusamus fugit adipisci nemo ullam, deserunt, voluptatum modi est? Facilis, dicta? Soluta in quibusdam facilis perferendis natus optio!
Fuga necessitatibus quam molestiae consequatur fugiat numquam. Iure, veritatis! Ipsa, velit quod aut ducimus provident et quisquam expedita recusandae. Voluptatem officiis adipisci soluta magni? Adipisci explicabo voluptas quis laborum facere.
Aperiam quidem totam expedita doloremque et? Soluta ipsam aliquam voluptatem, deleniti laboriosam dolorem quo illum sit illo vitae id expedita consectetur, repellendus dolores provident sed beatae non, officiis quasi placeat.
Beatae, quam tenetur, id, error nesciunt mollitia modi quisquam labore voluptatibus iusto obcaecati fugit molestias veritatis. Amet enim sunt aut. Totam inventore ab porro eos nam unde debitis vitae quisquam?</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Pais</th>
            <th>Ciudad</th>
            <th>Email</th>
            <th>Telefono</th>          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sucursal of sucursales">
            <td>{{sucursal.pais}}</td>
            <td>{{sucursal.ciudad}}</td>
            <td>{{sucursal.email}}</td>
            <td>{{sucursal.telefono}}</td>
        </tr>
    </tbody>
</table>