div {  
    display: flex;
    justify-content: space-between;
    flex-direction: column ;
    align-items: center;
    color: black;
    font-size: 15px;
}
img{
    width: 700px;
}

.texto{
    font-size: medium;
    display: flex;
    justify-content: center;
    height: 50%;
    width: 60%; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}