<section>
    <div>
        <figure>
            <img  src="https://raw.githubusercontent.com/guidanderfer/Proyecto_angular/main/src/assets/img/sport.jpg" alt="logo">
        </figure> 
        <p class="texto">En The Sport Shop encontrarás remeras que se adapten a tus necesidades según el tipo de actividad que desarrolles: entrenamiento, fútbol, hockey, running, tennis o simplemente moda. 
            También tenemos otro tipo de indumentaria, como camisetas y musculosas.
            Si querés complementar tu outfit, te recomendamos que visites la sección productos. 
            Al final de la pagina se encuentra la descripción de la tabla de talles, pero si tenés alguna duda comunicate con nosotros y te ayudaremos.
            Tenemos facilidades de pago como cuotas sin interés con tarjetas de crédito, y además enviamos a toda la Argentina. </p>
        <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ipsum illum veniam! Quasi ab vel nostrum earum officia minus, libero excepturi adipisci nisi distinctio provident, aperiam exercitationem, molestias eaque et.
        Ipsa quod laborum obcaecati, ipsam iure aut optio! Ratione nostrum, quidem eos vitae illum, velit vero placeat optio aperiam in est quibusdam sint quas fugiat nam doloremque explicabo eligendi nobis.
        Soluta veritatis eos quaerat accusamus recusandae laborum, numquam optio fugit dolorem cupiditate accusantium sunt. Possimus, obcaecati corporis veniam quam molestias odio amet exercitationem adipisci, iure quia voluptatibus saepe sint? Reiciendis!
        Praesentium voluptatum recusandae eligendi doloribus minus minima repellat unde hic similique eaque voluptate at, accusantium earum fugit enim, dolor molestiae deserunt, perspiciatis consequuntur ipsum ad quo alias culpa cumque! Repellendus!
        Beatae veniam quis exercitationem sint asperiores quos minima ratione dignissimos recusandae id ab rem, eligendi voluptate tempora quaerat, perspiciatis tenetur corporis provident at officiis fuga numquam aliquam? Numquam, veritatis quis.</p>  
        <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, labore fugit quibusdam molestiae fugiat voluptate reiciendis aliquam dolores esse illum nostrum quae optio unde assumenda necessitatibus quis, aliquid itaque modi!
        Eum cumque alias amet expedita placeat iusto similique explicabo sunt minus. Non, expedita optio! Excepturi a temporibus hic distinctio? Inventore aperiam explicabo, nam voluptatibus molestias rerum mollitia ipsam id alias?
        Numquam distinctio unde, cumque, libero exercitationem veniam magnam soluta iusto aut fuga dolorum ducimus nam consequatur esse perspiciatis, repellat quae harum corrupti. Quaerat, eius animi suscipit in voluptates quas odio!
        Ea expedita in sed reiciendis eius illo obcaecati, eum repellendus autem perspiciatis atque accusamus explicabo laborum beatae suscipit at itaque culpa esse repellat quos ipsam, non tempora enim. Dolorem, saepe.
        Dolore rem optio odio minima quidem incidunt sint, pariatur ab perferendis molestias quas repellat earum molestiae, delectus, tempora fugit! Odio officiis dolores magnam ab modi laboriosam? Corrupti excepturi sunt blanditiis?</p>  
    </div>


</section>


