<h1>Lista de productos</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Version</th>
            <th>Imagen</th>
            <th>Talle</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Agregar</th>
          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let camiseta of camisetas">
            
            <td>{{camiseta.nombre}}</td>
            <td>{{camiseta.marca}}</td>
            <td>{{camiseta.version}}</td>
            <td><img width="150" class="img-thumbnail" [src]="camiseta.imagen" [alt]="camiseta.nombre"></td>
            <td>{{camiseta.talle}}</td>
            <td>{{camiseta.precio | currency}}</td>
            <td><span class="badge text-bg-warning"  *ngIf="camiseta.stock == 0">Sin Stock</span><span class="badge text-bg-success"  *ngIf="camiseta.stock > 0">Hay Stock</span></td>
            <td>
               <app-input-integer [(cantidad)]="camiseta.cantidad" [maximo]="camiseta.stock"  *ngIf="camiseta.stock"  (maximoalcanzado)="maximoalcanzado($event)"></app-input-integer>
               
            </td>
            <td><span *ngIf="camiseta.stock > 0"><button class="btn btn-primary" (click)="agregar_alcarrito(camiseta)">Agregar</button></span>
                
            </td>
        </tr>
        
    </tbody>
    
</table>
