<section>

    <h3>Tabla de talles</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Etiqueta del producto</th>
                    <th>XS</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pecho</td>
                    <td>83 - 86 cm</td>
                    <td>87 - 92 cm</td>
                    <td>93 - 100 cm</td>
                    <td>101 - 108 cm</td>
                    <td>109 - 118 cm</td>
                </tr>
                <tr>
                    <td>Cintura</td>
                    <td>71 - 74 cm</td>
                    <td>75 - 80 cm</td>
                    <td>81 - 88 cm</td>
                    <td>89 - 96 cm</td>
                    <td>97 - 106 cm</td>
                </tr>
                <tr>
                    <td>Cadera</td>
                    <td>82 - 85 cm</td>
                    <td>86 - 91 cm</td>
                    <td>92 - 99 cm</td>
                    <td>100 - 107 cm</td>
                    <td>108 - 116 cm</td>
                </tr>
            </tbody>
        </table>
    
    </div>
    
</section>